@import '../../../css/var.less';

.main {
  .getCaptcha {
    display: block;
    width: 100%;
  }

  .submit {
    width: 100%;
  }
}

.success,
.warning,
.error {
  transition: color 0.3s;
}

.success {
  color: @success-color;
}

.warning {
  color: @warning-color;
}

.error {
  color: @error-color;
}

.progress-pass > .progress {
  :global {
    .ant-progress-bg {
      background-color: @warning-color;
    }
  }
}

:global {
  .ant-form-explain {
    color: @error-color;
    font-size: @font-size-sm;
    padding-top: @padding-xs;
  }
}
