﻿@using Tesseract.Infrastructure.Views.Emails
@using Tesseract.Infrastructure.Views.Shared
@model ForgotPasswordViewModel

@{
    ViewData["EmailTitle"] = "Reset password";
    ViewData["HomeUrl"] = Model.HomeUrl;
    ViewData["DistrictLogo"] = Model.DistrictLogo;
}

<p>
    If you did not request to reset your password for your @Model.DistrictName portal, you may ignore this email.
</p>

<p>
    To reset your password, click the button below:
</p>

<br />

@await Html.PartialAsync("EmailButton", new EmailButtonViewModel("Reset password", Model.ResetPasswordUrl))

<br />

<p>
    Or copy and paste this link into your browser:
</p>
<p style="word-break:break-all; ">
    <font style="word-break:break-all; ">@Model.ResetPasswordUrl</font>
</p>

<br />
