@import "../../../css/var.less";

.gradingTermList {
  .periodField {
    width: 100% !important;
  }
  :global {
    .ant-tabs .ant-tabs-top-content.ant-tabs-content-animated, .ant-tabs .ant-tabs-bottom-content.ant-tabs-content-animated {
      transition: none;
      will-change: unset;
    }
  }

  .filterSchool {
    display: none;
    @media screen and (max-width: @screen-sm) {
      display: block;
    }
  }

  // Vertical
  .tabs {
    display: flex;
    width: 100%;
    height: 100%;
    :global {
      .ant-tabs-left-bar {
        max-width: 256px;
        .ant-tabs-nav-scroll {
          white-space: normal;
          .ant-tabs-tab {
            display: flex;
            align-items: center;
            text-align: left;
            margin-bottom: @padding-xs;
            padding-left: 0;
            padding-right: @padding-xs * 2;
            .ant-avatar-image {
              min-width: @padding-md * 2;
              margin-right: @padding-sm;
            }
          }
        }
      }
      .ant-tabs-content {
        flex: 1;
      }
    }
    @media screen and (max-width: @screen-lg) {
      flex-direction: column;
      :global {
        .ant-tabs-left-bar {
          width: 100%;
          max-width: none;
        }
        .ant-tabs-content {
          padding: 0;
          border-left: none;
        }
      }
    }
    @media screen and (max-width: @screen-sm) {
      :global {
        .ant-tabs-left-bar {
          display: none;
        }

      }
    }
  }
}
