@import "../../css/var.less";

.banner {
    height: 400px;
    margin-bottom: 48px;
    img {
        width: 100%;
        height: 100%;
        object-fit:cover;
    }
    :global {
        .ant-upload-drag-container {
            > div {
                height: 40px !important;
                line-height: 40px;
            }
        }
    }

    @media only screen and (max-width: @screen-md) {
        height: 240px;
    }
}

.subTitle {
    background: @background-color-base;
    border-bottom: 1px solid @border-color-base;
    border-top-left-radius: @border-radius-base;
    border-top-right-radius: @border-radius-base;
    padding: @padding-xs @padding-xs * 2;
    margin-left: -@padding-lg;
    margin-right: -@padding-lg;
    margin-bottom: 12px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    h1, h2, h3, h4 {
        margin-bottom: 0;
        > input[type=text] {
            background: transparent;
        }
    }
    textarea, input {
        font-weight: 500;
        font-size: inherit;
        color: inherit;
        text-align: inherit;
        line-height: inherit;
        border: none;
        padding: 0;
        resize: none;
        &:focus {
            box-shadow: none;
        }
    }
}
