@import "../../css/var.less";

.answer {
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin-right: 8px;
    text-align: center;
    display: inline-block;
}
:global {
    :local(.answer) + .drag-question {
        &.drag-question-student-view {
            margin-left: 0;
        }
    }
}
