@import '../../../css/var.less';

.title {
  color: @heading-color;
  font-size: @heading-3-size;
  margin-bottom: @padding-lg;
  font-weight: 500;
}
.avatar {
  max-width: 300px;
  max-height: 300px;
  border: 1px solid @normal-color;
  margin-right: @padding-md;
  margin-bottom: @padding-sm;

  > img {
    width: 100%;
    height: 100%;
    display: inline-block;
  }
  @media screen and (max-width: @screen-md) {
    width: @avatar-size-base * 3;
    height: @avatar-size-base * 3;
  }
}
