@import "../../../css/var.less";

.baseView {
  display: flex;
  padding-top: 12px;

  .left {
    min-width: 224px;
    max-width: 448px;
  }
  .right {
    flex: 1;
    padding-left: 104px;
    .avatar_title {
      height: 22px;
      margin-bottom: 8px;
      color: @heading-color;
      font-size: @font-size-base;
      line-height: 22px;
    }
  }
}
.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: @avatar-size-base * 3;
  height: @avatar-size-base * 3;
  border: 1px solid @normal-color;
  margin-right: 16px;
  > i {
    font-size: 32px;
  }
  > img {
    width: 100%;
    height: 100%;
    display: inline-block;
  }
  @media screen and (max-width: @screen-md) {
    width: @avatar-size-base * 2;
    height: @avatar-size-base * 2;
  }
}

@media screen and (max-width: @screen-xl) {
  .baseView {
    flex-direction: column-reverse;

    .right {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 448px;
      padding: 20px;
      .avatar_title {
        display: none;
      }
    }
  }
}
