@import '../../../css/var.less';

.header {
    border-bottom: @border-color-base 1px solid;
    margin-top: 8px;
    margin-bottom: 32px;
}
.orderBy {
    padding-bottom: @padding-lg;
    strong {
        padding-right: @padding-xs;
    }
}
.textBold {
    font-weight: 500;
    font-size: @font-size-lg;
}
.paddingBottom {
    padding-bottom: @padding-xs;
}
.dueDate {
    label {
        color: @text-color-secondary;
        font-weight: 500;
    }
}
.labelW {
    display: inline-block;
    width: 48px;
}
