@import '../../css/var.less';

.textHeader {
  background: @white;
  padding-top: @padding-md;
  padding-left: @padding-lg;
  padding-right: @padding-lg;
  padding-bottom: @padding-sm;
  border-bottom: #e5e5e5 1px solid;
}
.headerDate {
  display: flex;
  justify-content: space-between;
  border-bottom: @border-color-base 1px solid;
  margin-bottom: 32px;
  .dateInfo {
    font-size: @heading-4-size;
  }
}
.content {
  margin: 24px;
  padding-top: @layout-header-height;
}
.expandedLayout {
  margin-left: @layout-expanded-width;
  transition: all 0.2s;
}
.collapsedLayout {
  margin-left: @layout-collapsed-width;  
  transition: all 0.2s;
}
