@import "../../../css/var.less";

.column {
    min-width: 180px;
}

.addMaterial {
    padding-left: @padding-lg;
    padding-right: @padding-lg;
    padding-bottom: @padding-sm;
}

.studenEditHeader{
    display: flex;
    align-items: center;
    padding-bottom: 0;
}

.studentEditHeadingSubTitle{
    margin-bottom: 0;
}

.studentEditHeading{
    margin-bottom: 0;
    padding-bottom: 0;
}