@import '../../../css/var.less';

@nav-header-height: @layout-header-height;

.logo {
  position: relative;
  height: @nav-header-height;
  padding-left: (@menu-collapsed-width - 32px) / 2;
  overflow: hidden;
  line-height: @nav-header-height;
  transition: all 0.3s;
  img {
    position: absolute;
    top: 12px;
    left: 80px;
    max-height: 32px;
  }
  h1 {
    display: inline-block;
    margin-left: 24px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    font-family: Avenir, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    vertical-align: middle;
  }
}
.trigger {
  font-size: 24px;
  cursor: pointer;
  > i {
    position: absolute;
    left: 24px;
    bottom: 15px;
  }
}
.infoAccount {
  text-align: center;
  margin-top: 16px;
  > span {
    margin-bottom: 4px;
  }
  .avatar {
    width: @avatar-size-base*2;
    height: @avatar-size-base*2;
    margin-bottom: 8px;
    border:1px solid @normal-color;
  }
  .listIcons {
    list-style: none;
    margin: 0;
    margin-top: 14px;
    padding: 0;
    li {
      display: inline;
      padding-right: @padding-lg;
      &:last-child {
        padding-right: 0;
      }
      .large {
        font-size: @font-size-lg;
      }
    }
  }
  .marginLeftRight {
    margin-left: 16px;
    margin-right: 16px;
    :global {
      .ant-divider {
        background-color: @logo-border-color;
      }
    }
  }
}
.sider {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.15);
  &.fixSiderBar {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 2px 0 8px 0 rgba(29, 35, 41, 0.05);
    :global {
      .ant-menu-inline {
        border-right: 0;
        .ant-menu-item,
        .ant-menu-submenu-title {
          width: 100%;
        }
      }
    }
  }
}

.icon {
  width: 14px;
  vertical-align: baseline;
}

:global {
  .top-nav-menu li.ant-menu-item {
    height: @nav-header-height;
    line-height: @nav-header-height;
  }
  .drawer .drawer-content {
    background: #001529;
  }
  .ant-menu-inline-collapsed {
    & > .ant-menu-item .sider-menu-item-img + span,
    &
      > .ant-menu-item-group
      > .ant-menu-item-group-list
      > .ant-menu-item
      .sider-menu-item-img
      + span,
    & > .ant-menu-submenu > .ant-menu-submenu-title .sider-menu-item-img + span {
      display: inline-block;
      max-width: 0;
      opacity: 0;
    }
  }
  .ant-menu-item .sider-menu-item-img + span,
  .ant-menu-submenu-title .sider-menu-item-img + span {
    opacity: 1;
    transition: opacity 0.3s @ease-in-out, width 0.3s @ease-in-out;
  }
  .ant-drawer-left {
    .ant-drawer-body {
      padding: 0;
    }
  }
}
