﻿@using Tesseract.Infrastructure.Views.Emails
@using Tesseract.Infrastructure.Views.Shared
@model NotifyStudentFacultyUpdateActivityViewModel

@{
    ViewData["EmailTitle"] = $"{Model.UpdateBy.DisplayName} updated {Model.Activity.Title}";
    ViewData["HomeUrl"] = Model.HomeUrl;
    ViewData["DistrictLogo"] = Model.DistrictLogo;
}

<p>
    @Model.UpdateBy.DisplayName updated @Model.Activity.Title at @Model.UpdatedAt
</p>

<br />

@await Html.PartialAsync("EmailButton", new EmailButtonViewModel("View Activity", $"https://district1.tesseract.dory.vn/activity/{Model.Activity.ActivityId}"))

<br />
