@import '../../css/var.less';

.container > * {
  background-color: @component-background;
  background-color: var(--component-background);
  border-radius: 4px;
}

@media screen and (max-width: @screen-xs) {
  .container {
    width: 100% !important;
  }
  .container > * {
    border-radius: 0 !important;
  }
}
