@import '../../css/var.less';

.swatch {
    width: 62px;
    height: 30px;
    padding: 4px 11px;
    border: 1px solid @border-color-base;
    border-radius: @border-radius-base;
    cursor: pointer;

    .color {
        width: 38px;
        height: 14px;
        margin-top: 3px;
        border-radius: @border-radius-sm;
        background: @primary-color;
    }
    &.disabled {
        background-color: @disabled-bg;
        pointer-events: none;
        cursor: not-allowed;
    }
}

.popover {
    position: absolute;
    top: 38px;
    z-index: 2;
    :global {
        .github-picker {
            padding: @padding-sm @padding-xs @padding-sm @padding-sm!important;
        }
    }
}
.cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
