@import '../../../css/var.less';

.main {
  .icon {
    margin-left: @padding-sm;;
    margin-right: @padding-sm;
    color: rgba(0, 0, 0, 0.2);
    font-size: 24px;
    vertical-align: middle;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: @primary-color;
    }
  }

  .other {
    margin-top: @padding-lg;
    line-height: 22px;
    text-align: left;

    .register {
      float: right;
    }
  }
}


.login {
  :global {
    .ant-tabs .ant-tabs-bar {
      margin-bottom: @padding-lg;
      text-align: center;
      border-bottom: 0;
    }
  }

  .getCaptcha {
    display: block;
    width: 100%;
  }

  .icon {
    margin-left: 16px;
    color: rgba(0, 0, 0, 0.2);
    font-size: 24px;
    vertical-align: middle;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: @primary-color;
    }
  }

  .other {
    margin-top: @padding-lg;
    line-height: 22px;
    text-align: left;

    .register {
      float: right;
    }
  }

  .prefixIcon {
    color: @disabled-color;
    font-size: @font-size-base;
  }

  .submit {
    width: 100%;
  }
}
