﻿@using Tesseract.Infrastructure.Views.Emails
@using Tesseract.Infrastructure.Views.Shared
@model ConfirmEmailViewModel

@{
    ViewData["EmailTitle"] = "Welcome!";
    ViewData["HomeUrl"] = Model.HomeUrl;
    ViewData["DistrictLogo"] = Model.DistrictLogo;
}

<p>
    We're excited to have you get started. First, you need to confirm your account. Just press the button below.
</p>

<br />

@await Html.PartialAsync("EmailButton", new EmailButtonViewModel("Confirm Account", Model.ConfirmEmailUrl))

<br />

<p>
    If you have any questions, just reply to this email—we're always happy to help out.
</p>

<br />
