@import '../../../css/var.less';

.imgUpload {
  :global {
    .ant-upload.ant-upload-drag .ant-upload {
      padding-top: 0;
      padding-bottom: 0;
    }
    .ant-upload-drag-container {
        > div {
          height: 40px !important;
          line-height: 40px;
        }
    }
  }
}
.gradingTerm {
  :global {
    .select-min-w {
      margin-bottom: 0;
      @media screen and (max-width: @screen-sm) {
        min-width: 238px;
      }
    }
  }
}
