@import "../../css/var.less";

.listDiscussion {
    padding: @padding-xs * 2 @padding-sm;
    div > p {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .unreadComment {
        > i {
            font-size: 14px;
            margin-right: 4px;
        }
    }
}
