body {
    --heading-color: @heading-color;
    --text-color-secondary: @text-color-secondary;
    --normal-color: @normal-color;
    --card-background: @card-background;
    --drag-background-hover-color: @drag-background-hover-color;
    --grade-background-color: @grade-background-color;
    --modal-readmore-background-color: @modal-readmore-background-color;
    --component-background: @component-background;
    --input-react-phone: @input-react-phone;
    --border-color-base: @border-color-base;
    --layout-header-background: @layout-header-background;
}
