// Override the components .less

// Layout
.@{layout-prefix-cls} {
    background: none;
}

// Logo background
.logo {
    background: @logo-background-color;
    border-bottom: 1px solid @normal-color;
    box-shadow: 2px 0px 6px rgba(0,21,41,.15);
}
.infoAccount {
    color: @heading-color;
}

// Link
a {
    color: @link-color;
    text-decoration: none;
    background-color: initial;
    outline: none;
    cursor: pointer;
    transition: color 0.3s;
    &:hover, &:focus {
        color: @link-hover-color;
    }
    &:hover {
        text-decoration: underline;
    }
    &:focus, &:visited {
        text-decoration: none;
    }
    &.no-underline {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
}

// Power Search (using AutoComplete)
.@{autocomplete-prefix-cls} {
    &.power-search {
        min-width: 180px;
        width: 40%;
        margin-left: 4px;
        @media only screen and (max-width: @screen-xxl) {
            width: 50%;
        }
        @media only screen and (max-width: @screen-xl) {
            width: 60%;
        }
        @media only screen and (max-width: @screen-lg) {
            width: 90%;
        }
        &.@{select-prefix-cls}  {
            .@{select-prefix-cls} {
                &-selection {
                    &__rendered {
                        background-color: @layout-header-background;
                    }
                    &__placeholder {
                        color: #b8e0ff;
                        margin-left: 20px;
                    }
                }
            }
            .@{input-prefix-cls} {
                color: @white;
                &:focus {
                    border: none;
                    box-shadow: none;
                    z-index: 10;
                }
                &:not(:first-child) {
                    padding-left: 37px;
                }
            }
        }
    }
}
.input-affix-wrapper(@inputClass) {
    &.search-input {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        .@{input-prefix-cls} {
            position: relative;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            padding: 9px 10px 3px;
            width: 1%;
            margin-bottom: 0;
            border: none;
            background: transparent;
            &:focus {
                outline: none;

                ~ .@{inputClass}-suffix {
                    &:before, &:after {
                        width: 50%;
                    }
                }
            }
        }
        .@{inputClass}-suffix {
            position: absolute;
            display: block;
            width: 100%;
            height: 40px;
            bottom: 0;
            left: 0;
            &:before, &:after {
                position: absolute;
                content: "";
                height: 1px;
                width: 0;
                bottom: 1px;
                background: @primary-color;
                transition: all .25s
            }
            &:before {
                left: 50%;
            }
            &:after {
                right: 50%;
            }
            > i {
                color: @white;
                position: absolute;
                top: 10px;
                left: -6px;
            }
        }
        .@{inputClass}:not(:last-child) {
            padding-right: @input-padding-horizontal-base + @input-affix-width;
            padding-left: 20px;
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
}

// Card
.@{card-prefix-cls} {
    &-head {
        font-size: @font-size-base + 1px;
    }
    &-bordered {
        border-color: @card-border-color;
    }
    &-extra {
        padding: 8px 0;
        font-size: @heading-3-size;
    }
    &-actions {
        border-radius: @border-radius-base;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        & > li {
            & > span {
                & > .anticon {
                    font-size: @heading-3-size;
                    color: @text-color;
                }
            }
        }
    }
    &.none-shadow {
        box-shadow: none;
        border: none;
    }
    &.none-border {
        border: none;
    }
}
.none-shadow {
    .@{card-prefix-cls} {
        &-body {
            padding: 0;
        }
    }
}
.none-border {
    .@{card-prefix-cls} {
        &-head {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
.border-left-color {
    border-left: 4px solid @primary-color;
}

// Tabs
.@{tab-prefix-cls} {
    &-bar {
        border-bottom: 1px solid @normal-color;
    }
    &-nav {
        .@{tab-prefix-cls}-tab {
            > a {
                color: @text-color;
            }
            &:hover {
                > a {
                    color: @tabs-hover-color;
                    text-decoration: none;
                }
            }
            &-active {
                > a {
                    color: @tabs-highlight-color;
                    text-decoration: none;
                }
              }
        }
    }
}
// .@{tab-prefix-cls}-top .@{tab-prefix-cls}-ink-bar-animated {
//     &::after {
//         content: '';
//         position: absolute;
//         width: 8px;
//         height: 8px;
//         background: @white;
//         -webkit-transform: rotate(-45deg);
//         transform: rotate(-45deg);
//         bottom: -6px;
//         left: 50%;
//         margin-left: -4px;
//         box-shadow: 2px -2px 0 @primary-color;
//         z-index: 10;
//     }
// }
// .@{tab-prefix-cls}-left .@{tab-prefix-cls}-ink-bar-animated {
//     &::after {
//         content: '';
//         position: absolute;
//         width: 8px;
//         height: 8px;
//         background: @white;
//         -webkit-transform: rotate(45deg);
//         transform: rotate(45deg);
//         top: 50%;
//         margin-top: -4px;
//         margin-right: -6px;
//         box-shadow: -2px 2px 0 @primary-color;
//         z-index: 10;
//     }
// }

// Modal
.@{dialog-prefix-cls} {
    &-close {
        &:focus {
            outline: none;
        }
        &-x {
            width: 46px;
            height: 46px;
            line-height: 44px;
        }
    }
    &-header {
        padding: 12px 20px;
    }
    &-body {
        padding: 16px @modal-body-padding;
        .@{input-number-prefix-cls} {
            width: 60px;
        }
        .video {
            max-width: 500px;
            height: auto;
            min-height: 240px;
            margin-bottom: 12px;
            > div {
                width: 100% !important;
                height: 100% !important;
            }
            iframe {
                width: 100%;
                height: 100%;
                min-height: 240px;
            }
        }
    }
    &-footer {
        button + button {
            margin-left: 12px;
          }
    }
}

// Menu
.@{menu-prefix-cls} {
    &-dark &-submenu-title > a {
        text-decoration: none;
        color: @text-color;
    }
    &-dark &-inline&-sub {
        box-shadow: none;
    }

    // &-dark &-item:hover {
    //     > a {
    //         color: @heading-color;
    //     }
    // }
    // &-dark &-item-selected {
    //     &:hover {
    //         > a {
    //             color: @menu-dark-highlight-color;
    //         }
    //     }
    // }

    &-item,
    &-submenu-title {
        .@{iconfont-css-prefix} {
            font-size: 14px;
            margin-right: 6px;
            > svg {
                margin-bottom: 2px;
            }
        }
    }

    &-item > a {
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover {
            text-decoration: none;
        }
    }

    &&-dark &-item-selected,
    &-submenu-popup&-dark &-item-selected {
        > a {
            color: @white;
        }
        &.level-1 {
            > a i {
                color: @white;
            }
        }
    }

    &-vertical,
    &-vertical-left,
    &-vertical-right,
    &-inline {
        .@{menu-prefix-cls}-item:not(:last-child) {
            margin-bottom: 0;
            &.grading-term {
                margin-bottom: 12px;
            }
        }

        .@{menu-prefix-cls}-item,
        .@{menu-prefix-cls}-submenu-title {
            margin-top: 0;
            margin-bottom: 4px;
        }
    }

    &.main-nav {
        .level-1 {
            > a {
                i {
                    color: @text-color;
                }
                span {
                    font-weight: 500;
                }
            }
            &-admin {
                .@{menu-prefix-cls}-submenu-title .@{menu-prefix-cls}-submenu-arrow {
                    visibility: hidden;
                }
            }
        }
        .level-2 {
            padding-left: 36px !important;
        }
    }
}
.grading-term {
    padding-left: 16px !important;
}

// Slider

// Table
.@{table-prefix-cls} {
    &-thead > tr > th,
    &-tbody > tr > td {
        &.whitespace-normal {
            white-space: normal;
        }
        &.min-w {
            min-width: 210px;
        }
    }
    &-thead > tr > th {
        &.text-center {
            text-align: center;
        }
    }
    &-tbody {
        .warning-row {
            > td {
                border-bottom: 1px solid @border-color-warning-row;
            }
        }
    }
}
.responsiveTable {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.warning-row {
    background: @table-selected-due-row-bg;
}

// Tag
.@{tag-prefix-cls} {
    min-width: 60px;
    text-align: center;
    font-weight: @font-medium;
    padding: 0 8px;
    line-height: 16px;
    border-radius: 12px;
}

// Divider
.@{divider-prefix-cls} {
    background: @normal-color;
    &-vertical {
        margin: 0 6px;
    }
    &-horizontal {
        margin-top: 12px;
        margin-bottom: 16px;
    }
}

// Form
// Form items
.@{form-prefix-cls}-item {
    margin-bottom: @padding-lg;
    label {
        line-height: 1.5;
    }
    &-label {
        font-weight: 500;
    }
}
form {
    textarea.@{ant-prefix}-input {
        margin-bottom: 0;
    }
}
// Validation state
.has-success,
.has-warning,
.has-error,
.is-validating {
    &.has-feedback {
        .@{form-prefix-cls}-item-children-icon {
            > i {
                font-size: 14px;
            }
        }
    }
}

// Comment
.@{comment-prefix-cls} {
    &-inner {
        padding: 8px 8px 4px 8px;
        margin-bottom: 4px;
    }
    &-avatar {
        margin-right: 8px;
    }
    &-content {
        font-size: @font-size-base;
        &-author {
            margin-bottom: 4px;
            & > a,
            & > span {
                font-size: @font-size-base;
            }
            &-name {
                font-weight: 500;
                > * {
                    color: @heading-color;
                    font-weight: 500;
                    &:hover {
                        color: @black;
                    }
                }
            }
            &-time {
                font-weight: 500;
            }
        }
        &-detail {
            color: @heading-color;
            .ant-form-item {
                margin-bottom: 16px;
                &:last-child {
                    margin-bottom: 4px;
                }
            }
        }
    }
    &-actions {
        margin-top: 4px;
        margin-bottom: 0;
    }
    &.unread {
        border-left: 2px solid @normal-color;
        background: #f7f7f7;
    }
}

// Badge
.@{badge-prefix-cls} {
    &-count {
        font-weight: 500;
    }
}

// Breadcrumb
.@{breadcrumb-prefix-cls} {
    font-weight: 400;
}
.breadcrumb {
    padding-top: 0;
    padding-bottom: @padding-xs;
}

// Select
.@{select-prefix-cls} {
    &-lg {
        font-size: @font-size-base;
    }
    &-selection {
        &-selected-value {
            img {
                width: 20px;
                margin-bottom: -3px;
                margin-right: 4px;
            }
        }
    }
    &-arrow {
        color: @border-color-base;
        & &-icon {
            font-size: @font-size-sm;
            margin-right: 0;
        }
    }
}
.@{select-prefix-cls}-dropdown {
    &-menu {
        &-item-group-title {
            color: @heading-color;
            font-weight: bold;
        }
        &-item {
            img {
                width: 20px;
                margin-bottom: -3px;
                margin-right: 4px;
            }
        }
    }
}
.select-min-w {
    min-width: 350px;
    @media screen and (max-width: @screen-sm) {
        min-width: 327px;
    }
}

// Dropdown
.@{dropdown-prefix-cls} {
    &-menu {
        &-item,
        &-submenu-title  {
            img {
                width: 20px;
                margin-bottom: -3px;
                margin-right: 4px;
            }
        }
    }
}

// Alert
.@{alert-prefix-cls} {
    color: @alert-text-color;
    padding-top: @padding-sm;
    padding-bottom: @padding-sm;
    padding-left: @padding-xl * 2;
    &-message {
        color: @alert-text-color;
    }
    &-success, &-info, &-warning, &-error {
        .@{alert-prefix-cls}-icon {
            width: 40px;
            height: 100%;
            color: @white;
            font-size: 20px;
            margin-top: -11px;
            margin-left: -16px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }
    }
    &-success {
        border: 2px @border-style-base @alert-success-border-color;
        .@{alert-prefix-cls}-icon {
            background-color: @alert-success-border-color;
        }
    }

     &-info {
        border: 2px @border-style-base @alert-info-border-color;
        .@{alert-prefix-cls}-icon {
            background-color: @alert-info-border-color;
        }
    }

    &-warning {
        border: 2px @border-style-base @alert-warning-border-color;
        .@{alert-prefix-cls}-icon {
            background-color: @alert-warning-border-color;
        }
    }

    &-error {
        border: 2px @border-style-base @alert-error-border-color;
        .@{alert-prefix-cls}-icon {
            background-color: @alert-error-border-color;
        }
    }
    &-close-icon {
        font-size: @font-size-lg;
    }
}

// Upload
.@{upload-prefix-cls}-list {
    &-item {
        &-name {
            padding-left: 24px;
        }
        &-info {
            line-height: 24px;
        }
    }
}

// Statistic
// ---
.@{statistic-prefix-cls} {
    &-title {
        margin-bottom: 0;
    }
    &-content {
        color: @heading-color;
    }
}

// Image
img {
    object-fit: cover;
}
.imgFile {
    max-height: 400px;
    &.w-auto {
        width: auto;
    }
    &-sm {
        max-height: 200px;
    }
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: inline;
    vertical-align: inherit;
}

// Cursor
.cursor-move {
    cursor: move !important;
}

// Padding
.paddingTop-lg {
    padding-top: @padding-lg;
}
.paddingBottom-lg {
    padding-bottom: @padding-lg;
}
.paddingLeft-lg {
    padding-left: @padding-lg;
}
.paddingRight-md {
    padding-right: @padding-md;
}
.paddingTop-md {
    padding-top: @padding-md;
}
.paddingBottom-md {
    padding-bottom: @padding-md;
}
.paddingLeft-md {
    padding-left: @padding-md;
}
.paddingRight-md {
    padding-right: @padding-md;
}
.paddingTop-sm {
    padding-top: @padding-sm;
}
.paddingBottom-sm {
    padding-bottom: @padding-sm;
}
.paddingLeft-sm {
    padding-left: @padding-sm;
}
.paddingRight-sm {
    padding-right: @padding-sm;
}
.paddingTop-xs {
    padding-top: @padding-xs;
}
.paddingBottom-xs {
    padding-bottom: @padding-xs;
}
.paddingLeft-xs {
    padding-left: @padding-xs;
}
.paddingRight-xs {
    padding-right: @padding-xs;
}

// Margin
.m-lg { margin: @padding-lg; } .-m-lg { margin: 0 - @padding-lg; }
.m-md { margin: @padding-md; } .-m-md { margin: 0 - @padding-md; }
.m-sm { margin: @padding-sm; } .-m-sm { margin: 0 - @padding-sm; }
.m-xs { margin: @padding-xs; } .-m-xs { margin: 0 - @padding-xs; }
.mt-lg { margin-top   : @padding-lg; } .mt-md { margin-top   : @padding-md; } .mt-sm { margin-top   : @padding-sm; } .mt-xs { margin-top   : @padding-xs; }
.mb-lg { margin-bottom: @padding-lg; } .mb-md { margin-bottom: @padding-md; } .mb-sm { margin-bottom: @padding-sm; } .mb-xs { margin-bottom: @padding-xs; }
.mr-lg { margin-right : @padding-lg; } .mr-md { margin-right : @padding-md; } .mr-sm { margin-right : @padding-sm; } .mr-xs { margin-right : @padding-xs; }
.ml-lg { margin-left : @padding-lg; } .ml-md { margin-left : @padding-md; } .ml-sm { margin-left : @padding-sm; } .ml-xs { margin-left : @padding-xs; }
.m-b-0 {
    margin-bottom: 0;
}
.m-b-checkbox {
    margin-bottom: @padding-xs * 3;
}

// Sizing
.w-full {
    width: 100%;
}

// Icon size
.icon-lg {
    font-size: 20px;
}
.icon-md {
    font-size: 16px;
}
.icon-sm {
    font-size: 14px;
}
.icon-xs {
    font-size: 12px;
}

// Border
.border {
    border: @border-color-base @border-style-base @border-width-base;
}
.border-top {
    border-top: @border-color-base @border-style-base @border-width-base;
}
.border-bottom {
    border-bottom: @border-color-base @border-style-base @border-width-base !important;
}
.border-left {
    border-left: @border-color-base @border-style-base @border-width-base;
}
.border-right {
    border-right: @border-color-base @border-style-base @border-width-base;
}

// Disabled states
.isNextPrev {
    min-width: @btn-height-base;
    height: @btn-height-base;
    line-height: @btn-height-base;
    background: @pagination-button-background-color;
    font-size: @font-size-sm;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid @border-color-base;
    border-radius: @border-radius-base;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    color: @text-color;
    font-weight: 500;
    > i {
        font-size: @font-size-sm;
    }
}
.isDisabled {
    border: 1px solid @pagination-disabled-border-color-base;
    color: @disabled-color;
    cursor: not-allowed;
    &:hover {
        color: @disabled-color;
        text-decoration: none;
    }
}

// Selected background
.selected {
    background: @table-selected-row-bg;
}

// List
.list-reset {
    list-style: none;
    padding: 0;
    > li {
        padding-bottom: 12px;
        &.none {
            padding: 0;
        }
        > a {
            display: inline-block;
            white-space: nowrap;
        }
    }
}

// Heading
.heading-1 {
    font-size: @heading-1-size;
    font-weight: @font-medium;
}
.heading-2 {
    font-size: @heading-2-size;
    font-weight: @font-medium;
}
.heading-3 {
    font-size: @heading-3-size;
    font-weight: @font-medium;
}

// Font size
.font-size-lg {
    font-size: @font-size-lg;
}
.font-size-md {
    font-size: 14px;
}
.font-size-sm {
    font-size: @font-size-sm;
}

// Font Weight
.font-light {
    font-weight: 300 !important;
}

// Header of page
.header {
    padding-bottom: @padding-lg + @padding-xs;

    h1, h2, h3, h4 {
        margin-bottom: 0;
        text-transform: capitalize;
        font-weight: normal;
    }
    &-sub {
        padding-top: 0;
        padding-bottom: @padding-lg;
        h4 {
            margin-bottom: 0;
            font-size: @font-size-lg;
            font-weight: normal;
        }
    }
}
.header-filter {
    padding-bottom: @padding-lg;
}
.action-create-class {
    width: 120px;
    height: 120px;
    margin-right: 20px;
    background-color: transparent;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 70% auto;
    box-shadow: 0 4px 2px 0 rgba(60,64,67,.08), 0 2px 2px 1px rgba(60,64,67,.16);
    transition: all .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    > i {
        color: @heading-color;
        font-size: 64px;
    }
}
.action-button {
    .text {
        color: @heading-color;
        font-size: @font-size-lg;
        font-weight: bold;
        margin-bottom: @padding-sm;
    }
    button {
        width: 170px;
        height: 40px;
        font-size: @font-size-lg;
    }
}

// Title of Card
.card-title {
    text-transform: capitalize;
    padding-top: @padding-md;
    padding-bottom: @padding-xs;
}

// Color
.text-black {
    color: @heading-color;
}
.text-grey {
    color: @text-color-secondary;
}
.text-danger {
    color: @error-color;
}
.text-success {
    color: @success-color;
}
.text-info {
    color: @info-color;
}
.text-link {
    color: @link-color;
    &-grey {
        color: @heading-color;
        &:hover {
            text-decoration: underline;
        }
    }
}
.text-prev-next {
    width: calc(50% - 12px);
    border: 1px solid @normal-color;
    color: @link-color;
    padding: 8px;
    margin-top: 20px;
    font-size: @font-size-base + 1px;
    font-weight: @font-medium;
       > i {
           color: @text-color;
           vertical-align: -1px;
       }
    &:hover {
        border: 1px solid @link-color;
        text-decoration: none;
        > i {
            color: @link-color;
        }
    }
}
.text-color-inverse {
    color: @white;
}
.info, .success, .error {
    color: @white;
}
.info {
    background-color: darken(@info-color, 8%);
    border-color: darken(@info-color, 8%);
}
.success {
    background-color: @success-color;
    border-color: @success-color;
}
.error {
    background-color: @error-color;
    border-color: @error-color;
}
.bulb-color {
    color: @logo-border-color;
}

// label
.label-w {
    width: 160px;
}

// Flex
.flex {
    display: flex;
}

// Move footer to slider menu
.slider-footer {
    display: flex;
    flex: auto;
    flex-direction: column;
    min-height: 0;
    height: 100%;
    .menu {
        flex: auto;
        min-height: 0;
    }
    .footer {
        position: absolute;
        color: @text-color-secondary;
        flex: 0 0 auto;
        padding: @padding-xs * 2 @padding-lg;
        border-top: 1px solid @normal-color;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
}

// Input Number
.@{input-number-prefix-cls} {
    &-lg {
        font-size: @font-size-base;
    }
}

// Turn off Input Number native arrow
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
// For FireFox
input[type=number] {
    -moz-appearance:textfield;
}

// Input
.@{ant-prefix}-input {
    font-size: @font-size-base;
}
// Input with affix: prefix or suffix
.@{ant-prefix}-input-affix-wrapper {
    .@{ant-prefix}-input {
        padding: @padding-xs @padding-sm;
    }
}

// Button
.@{btn-prefix-cls} {
    font-size: 14px;
    text-transform: capitalize;
    > a {
        &:hover, &:focus {
            text-decoration: none;
        }
    }
    &-link {
        height: 18px;
        padding-left: @padding-xs;
        padding-right: @padding-xs;
    }
    &:not(&-circle):not(&-circle-outline)&-icon-only {
        height: 30px;
        padding-right: 4px;
        padding-left: 4px;
        > i {
            font-size: 20px;
        }
    }
    > i {
        font-size: 20px;
    }
    &.add-btn {
        padding-left: 8px;
        > i {
            font-size: 20px;
            + span {
                margin-left: 4px;
            }
        }
    }
}

// Chart
.chart-wrap {
    height: 320px;
    &-sm {
        height: 48px;
    }
}
.chart-max-w {
    max-width: 240px;
}

// Typography
.typography-title(@fontSize; @lineHeight) {
    margin-bottom: 0;
    font-weight: 500;
}

// Drag
.drag {
    padding: @padding-sm / 2 @padding-xs;
    border-radius: @border-radius-sm;
    &-question {
        border: 1px solid @normal-color;
        width: calc(100% - (@drag-result-w + 8px));
        margin-right: @padding-sm;
        &-student-view {
            margin-left: 24px;
        }
    }
    &-answer {
        border: 1px dashed @normal-color;
        margin-left: @padding-sm;
        &-success {
            border-color: @success-color;
        }
        &-error {
            border-color: @error-color;
        }
    }
    &-action {
        transition: border-color 0.3s;
        &:hover, &:focus {
            border-color: @primary-7;
        }
    }
}
.isDragging {
    background: @table-selected-row-bg;
    border-color: @primary-7;
}
.isHover {
    background: transparent;
}

.editor-drag-and-drop {
    padding-left: @padding-xs * 2;
    .plus {
        margin-left: -6px;
        margin-top: @padding-xs * 2;
        margin-bottom: @padding-xs * 2;
        width: 14px;
        height: 14px;
        cursor: pointer;
        display: block;
        > i {
            vertical-align: 0;
        }
    }
    .wrapper {
        position: relative;
        .is-dragging {
            position: absolute;
            height: 100%;
            padding-top: 10px;
            width: 24px;
            left: -24px;
            text-align: center;
            background: @drag-background-color;
            transition: all 0.3s;
            cursor: move;
            > i {
                color: @white;
                transition: all 0.3s;
            }
            &-border {
                border: none;
                transition: all 0.3s;
            }
        }
        &:hover {
            .is-dragging {
                display: inline;
                background: @drag-background-hover-color;
                > i {
                    color: @text-color;
                }
                &-border {
                    border: none;
                }
            }
        }
    }
}
.editor-drag-and-drop.student {
    .wrapper {
        .is-dragging {
            &-border {
                border: 1px solid @border-color-base;
                border-radius: @border-radius-base;
                background-color: transparent;
            }
        }
        &:hover {
            .is-dragging {
                &-border {
                    border: 1px solid @border-color-base;
                    border-radius: @border-radius-base;
                }
            }
        }
    }
}
.is-dragging-border {
    border: 1px solid @border-color-base;
}

// Sortable and Nesting for Activity
.nesting {
    position: relative;
    .collape {
        width: 16px;
        height: 16px;
        background: @white;
        color: @text-color;
        border-radius: 100%;
        box-shadow: 0 0 0 1px @black;
        position: absolute;
        top: 2px;
        left: -8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// Video
.video {
    margin-bottom: 12px;
    @media screen and (max-width: @screen-md) {
        max-width: 500px;
        height: auto;
        min-height: 240px;
        > div {
            width: 100% !important;
            height: 100% !important;
        }
        iframe {
            width: 100%;
            height: 100%;
            min-height: 240px;
        }
    }
}

// Publish
.unPublish, .isClosed {
    background: rgba(@black, 0.2);
    padding: @padding-xs * 2 @padding-sm;
    border-radius: @border-radius-base;
    .view-discussion {
        > i {
            color: @text-color-secondary;
        }
    }
}

// React Sortable Tree
.sortable-wrapper {

}
