@layout-body-background   : #000;
@layout-sider-background  : #222;
@btn-default-bg           : #262626;
@border-color-split       : #363636;
@heading-color            : #E3E3E3;
@layout-trigger-color     : fade(#fff; 80%);
@layout-trigger-background: #313232;
@alert-message-color      : fade(#000; 67%);
@item-hover-bg            : fade(@blue-5; 20%);
@item-active-bg           : fade(@blue-5; 40%);
@tag-default-bg           : #262628;
@popover-bg               : #262629;
@wait-icon-color          : fade(#fff; 64%);
@collapse-header-bg       : #262629;
@highlight-color          : @red-7;
@warning-color            : @gold-9;

// -------- Colors -----------
@primary-color: #03a9f3;
@info-color: #03a9f3;
@success-color: @green-6;
@processing-color: @primary-color;
@error-color: @red-6;
@highlight-color: @red-6;
@warning-color: @gold-6;
@normal-color: #363636;
@white: #fff;
@black: #000;

// Background color for `<body>`
@body-background: #000;
@component-background: #000;
@layout-header-background : #222;
@text-color: @white;
@text-color-secondary: fade(@white, 65%);
@text-color-inverse: @white;
@icon-color: inherit;
@icon-color-hover: fade(@white, 75%);
@heading-color: fade(@white, 85%);
@heading-color-dark: fade(@white, 100%);

// The background colors for active and hover states for things like
// list items or table cells.
@item-active-bg: @primary-color;
@item-hover-bg: @primary-color;

// Logo background
@logo-background-color: @primary-color;

// Border color
@border-color-base: fade(@white, 65%);

// Outline
@background-color-light   : fade(@blue-5; 40%);
@background-color-base    : #222;

// Disabled states
@disabled-color: fade(#FFF, 45%);
@disabled-bg: @background-color-base;
@disabled-color-dark: fade(#000, 35%);


// Shadow
@shadow-color: rgba(255, 255, 255, 0.15);

// Buttons
@btn-disable-border: darken(@border-color-base, 10%);

// Checkbox
@checkbox-check-color: #000;

// Menu
@menu-highlight-color: @primary-color;
@menu-item-active-bg: #e6fbff;

// dark theme
@menu-dark-color: @text-color;
@menu-dark-bg: #222;
@menu-dark-submenu-bg: #222;
@menu-dark-highlight-color: @white;
@menu-dark-item-active-bg: @primary-color;
@menu-dark-selected-item-text-color: @white;


// Slider

// React Sortable Tree
@sortable-background-color: #000;
@sortable-line-color: fade(@white, 45%);
@sortable-icon-color: fade(@white, 45%);
@sortable-border-color: fade(@white, 45%);

// Card
// ---
@card-background: #000;
@card-border-color: fade(@white, 65%);

// Table
// --
@table-selected-row-bg    : #3a3a3a;
@table-expanded-row-bg    : #3b3b3b;
@table-header-bg          : #3a3a3b;
@table-row-hover-bg       : #3a3a3b;

@table-header-bg: @black;
@table-header-color: @heading-color;
@table-header-sort-bg: @background-color-base;
@table-body-sort-bg: rgba(0, 0, 0, 0.01);
@table-row-hover-bg: #222;
@table-selected-row-color: inherit;
@table-selected-row-bg: grey;
@table-body-selected-sort-bg: @table-selected-row-bg;
@table-selected-row-hover-bg: @table-selected-row-bg;
@table-expanded-row-bg: #3b3b3b;
@table-border-radius-base: @border-radius-base;
@table-footer-bg: @background-color-light;
@table-footer-color: @heading-color;
@table-padding-vertical: 8px;
@table-padding-horizontal: 6px;

// Input
@input-placeholder-color: rgba(255, 255, 255, 0.65);
@input-bg: #000;
@input-react-phone: #FFF;


// Select
// ---
@select-dropdown-bg: @component-background;
@select-item-selected-bg: @primary-color;


// Tooltip
@tooltip-color: #fff;
@tooltip-bg: #222;
@tooltip-arrow-color: @tooltip-bg;

// Popover
// ---
// Popover body background color
@popover-bg: @component-background;
// Popover text color
@popover-color: @text-color;
// Popover maximum width
@popover-min-width: 177px;
// Popover arrow width
@popover-arrow-width: 6px;
// Popover arrow color
@popover-arrow-color: @popover-bg;
// Popover outer arrow width
// Popover outer arrow color
@popover-arrow-outer-color: @popover-bg;
// Popover distance with trigger
@popover-distance: @popover-arrow-width + 4px;

// Modal
// --
@modal-body-padding: 24px;
@modal-header-bg: @component-background;
@modal-footer-bg: transparent;
@modal-footer-border-color-split: @border-color-split;
@modal-mask-bg: fade(@white, 20%);
@modal-readmore-background-color: linear-gradient(transparent,rgba(0,0,0,.75) 40%,#000 70%,#000);

// Alert
// ---
@alert-success-bg-color: @black;
@alert-info-bg-color: @black;
@alert-warning-bg-color: @black;
@alert-error-bg-color: @black;
@alert-text-color: @white;

// Drag
@drag-background-color: #000;
@drag-background-hover-color: #000;

// Quick Grader
@grade-background-color: #222;

// Pagination
// ---
@pagination-button-background-color: @black;
@pagination-disabled-border-color-base: fade(@white, 25%);
