// -------- Colors -----------
@primary-color   : @blue-6;
@info-color      : @blue-6;
@success-color   : @green-6;
@processing-color: @blue-6;
@error-color     : @red-6;
@highlight-color : @red-6;
@warning-color   : @gold-6;
@normal-color    : #d9d9d9;
@white           : #ffffff;
@black           : #000;
