@import "~antd/lib/style/themes/default.less";

// Override the default .less

// Color palettes
@blue-6: #03a9f3;
@green-6: #1a965c;

// Logo background
@logo-background-color: @white;
@logo-border-color: #F0810F;

// Color used by default to control hover and active backgrounds and for
// alert info backgrounds.

// Base Scaffolding Variables
// ---
@body-background: #EDF1F5;
// Base background color for most components
@component-background: #fff;
// Base background color for most components
@font-family: Roboto, Helvetica, Arial, sans-serif;
@font-size-base: 13px;
@font-size-lg: @font-size-base + 3px;
@font-size-md: 14px;
@font-size-sm: 12px;
@heading-1-size: 32px;
@heading-2-size: 24px;
@heading-3-size: 20px;
@heading-4-size: 16px;
@font-bold: 700;
@font-medium: 500;
@font-normal: 400;
@font-thin: 300;

// Layout
// @layout-body-background: #FFF;
// @layout-header-background: #004274;
// @layout-header-height: 54px;
@layout-body-background: #EDF1F5;
@layout-header-background: #004274;
@layout-header-color: #b8e0ff;
@layout-footer-background: @layout-body-background;
@layout-header-height: 54px;
@layout-expanded-width: 256px;
@layout-collapsed-width: 80px;
@layout-header-padding: 0 50px;
@layout-footer-padding: 24px 50px;
@layout-sider-background: #FFF;
@layout-trigger-height: 48px;
@layout-trigger-background: #FFF;
@layout-trigger-color: #fff;
@layout-zero-trigger-width: 36px;
@layout-zero-trigger-height: 42px;
// Layout light theme
@layout-sider-background-light: #fff;
@layout-trigger-background-light: #fff;
@layout-trigger-color-light: @text-color;

// vertical paddings
@padding-xl: 24px;
@padding-lg: 20px; // containers
@padding-md: 16px; // small containers and buttons
@padding-sm: 12px; // Form controls and items
@padding-xs: 4px; // small items

// LINK
@link-color: #028ecf;
@link-hover-color: color(~`colorPalette('@{link-color}', 5) `);
@link-active-color: color(~`colorPalette('@{link-color}', 7) `);

// Animation

// Border color
@border-color-base: #bdbdbd; // base border outline a component
@border-color-split: hsv(0, 0, 91%); // split border inside a component

// Outline


// Disabled states


// Shadow

// Buttons
@btn-padding-base: 0 @padding-sm;
@btn-font-size-lg: 14px;
@btn-font-size-sm: 14px;
@btn-padding-lg: @btn-padding-base;
@btn-height-base: 32px;
@btn-height-lg: 32px;
@btn-height-sm: 24px;

@btn-primary-bg: @primary-color;


// Checkbox

// Dropdown
@dropdown-selected-color: @heading-color;

// Radio


// Radio buttons


// Grid system


// Form
// ---


// Input
// ---
@input-height-base: 32px;
@input-height-lg: 32px;
@input-height-sm: 20px;
@input-padding-horizontal-base: @input-padding-horizontal;
@input-padding-horizontal-lg: @input-padding-horizontal;
@input-padding-vertical-base: 4px;
@input-padding-vertical-sm: 1px;
@input-padding-vertical-lg: 4px;
@input-placeholder-color: hsv(0, 0, 45%);
@input-react-phone: #000;

// Select
// ---
@select-item-selected-bg: @background-color-light;

// Tooltip
// ---
// Tooltip max width


// Popover
// ---
// Popover body background color


// Modal
// --
@modal-body-padding: 20px;
@modal-readmore-background-color: linear-gradient(transparent,rgba(255,255,255,.75) 40%,#fff 70%,#fff);

// Progress
// --


// Menu
// ---
@menu-inline-toplevel-item-height: 32px;
@menu-item-height: 32px;
@menu-dark-selected-item-text-color: @black;

// dark theme
@menu-dark-color: @text-color;
@menu-dark-bg: @layout-sider-background;
@menu-dark-arrow-color: #fff;
@menu-dark-submenu-bg: @layout-sider-background;
@menu-dark-highlight-color: #000;
@menu-dark-item-active-bg: @primary-color;
@menu-dark-selected-item-icon-color: @white;
@menu-dark-selected-item-text-color: @white;
@menu-dark-item-hover-bg: transparent;


// Spin
// ---


// Table
// --
@table-selected-due-row-bg: color(~`colorPalette('@{error-color}', 1) `);
@border-color-warning-row: color(~`colorPalette('@{error-color}', 2) `);
@table-padding-vertical: 8px;
@table-padding-horizontal: 6px;

// Tag
// --
@tag-font-size: @font-size-sm - 1px;

// TimePicker
// ---


// Carousel
// ---


// Badge
// ---
@badge-height: 16px;
@badge-font-size: @font-size-sm - 1px;

// Rate
// ---


// Card
// ---
@card-head-padding: 8px;
@card-inner-head-padding: 12px;
@card-padding-base: 16px;
@card-head-height: 40px;
@card-background: #ffffff;
@card-border-color: @normal-color;

// Comment
// ---
@comment-padding-base: 8px 0;
@comment-author-name-color: @text-color;
@comment-author-time-color: @text-color-secondary;


// Tabs
// ---:
@tabs-horizontal-margin: 0 4px 0 0;
@tabs-ink-bar-color: @primary-color;
@tabs-highlight-color: @primary-color;
@tabs-hover-color: @link-hover-color;
@tabs-active-color: @link-active-color;

// BackTop
// ---


// Avatar
// ---

// Switch
// ---


// Pagination
// ---
@pagination-button-background-color: @white;
@pagination-disabled-border-color-base: @border-color-base;

// Breadcrumb
// ---
@breadcrumb-font-size: 13px;
@breadcrumb-link-color: @link-color;
@breadcrumb-link-color-hover: @link-hover-color;
@breadcrumb-separator-margin: 0 @padding-xs * 2;

// Slider
// ---

// Tree
// ---


// Collapse
// ---


// Skeleton
// ---


// Transfer
// ---


// Message
// ---


// Motion
// ---


// Alert
// ---
@alert-success-border-color: @success-color;
@alert-success-bg-color: @white;
@alert-success-icon-color: @success-color;
@alert-info-border-color: @info-color;
@alert-info-bg-color: @white;
@alert-info-icon-color: @info-color;
@alert-warning-border-color: @warning-color;
@alert-warning-bg-color: @white;
@alert-warning-icon-color: @warning-color;
@alert-error-border-color: @error-color;
@alert-error-bg-color: @white;
@alert-error-icon-color: @error-color;
@alert-text-color: @black;

// List
// ---


// Statistic
// ---
@statistic-title-font-size: @font-size-base + 1px;
@statistic-content-font-size: 32px;
@statistic-font-family: @font-family;

// Drawer
// ---

// Drag
@drag-result-w: 40px;
@drag-result-h: 32px;
@drag-line-height: 32px;
@drag-background-color: #FFF;
@drag-background-hover-color: @table-expanded-row-bg;

// React Sortable Tree
@sortable-background-color: #FFF;
@sortable-line-color: #000;
@sortable-icon-color: rgba(0,0,0,.45);
@sortable-border-color: #d9d9d9;

// Quick Grader
@grade-background-color: #fbfbfb;

// End of the default.less
