@import "../../css/var.less";

.subTitle {
    padding-bottom: 8px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-weight: 500;
    h1, h2, h3, h4 {
        margin-bottom: 0;
    }
}
.validationIcon {
    :global {
        .ant-form-item-children {
            display: flex;
            align-items: center;
            .ant-checkbox-wrapper {
                display: flex;
                align-items: center;
                margin-left: 24px;
            }
            .ant-input-number {
                margin-left: 24px;
            }
            .ant-form-item-children-icon {
                width: 16px;
                left: 0;
            }
        }
    }
    &.quizChoice {
        :global {
            .ant-form-item-children {
                .ant-form-item-children-icon {
                    height: 16px;
                    line-height: 16px;
                }
            }
        }
    }
}
.hidden {
    display:none !important;
}
.poll {
    margin-left: 24px;
    .label {
        line-height: 1.5;
    }
    .votes {
        font-size: @font-size-sm;
    }
    :global {
        .ant-progress-line {
            width: 90%;
            .ant-progress-text {
                color: @text-color;
                font-weight: bold;
            }
        }
    }
}
.totalVotes {
    padding-left: @padding-lg + 4px;
}
.radioStyle{
    margin-bottom: @padding-sm;
    white-space: normal;
}

