@import "../../css/var.less";

.banner {
    height: 400px;
    margin-bottom: 48px;
    img {
        width: 100%;
        height: 100%;
        object-fit:cover;
    }
    @media only screen and (max-width: @screen-md) {
        height: 240px;
    }
}

.itemContainer {
    position: relative;

    .timeVisible {
        border: 1px solid @border-color-base;
        border-bottom: 0;
        border-top-left-radius: @border-radius-base;
        border-top-right-radius: @border-radius-base;
        padding: @padding-xs * 2 @padding-sm;
        margin-bottom: @padding-sm;
        background: @white;
        position: relative;
        z-index: 10;
        > i {
            position: absolute;
            font-size: 20px;
        }
        .inner {
            margin-left: 28px;
        }
    }

    .grayout {
        border-radius: @border-radius-base;
        height: 100%;
        width: 100%;
        background-color: @black;
        opacity: 0.2;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;

        div, label {
            opacity: 1;
            color: black;
        }
     }
}
.itemTimeRange + div {
    padding: @padding-xs * 2 @padding-sm;
    padding-top: 0;
}
