@import "../../css/var.less";

.googleDrive {
  width: 120px;
  height: 120px;
  margin-right: 20px;
  background-color: #fff;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70% auto;
  box-shadow: 0 4px 2px 0 rgba(60,64,67,.08), 0 2px 2px 1px rgba(60,64,67,.16);
  transition: all .3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.desGoogle {
  margin-bottom: 12px;
}
.statusConnect {
  position: relative;
  top: -36px;
  left: 48px;
  > span {
    padding-right: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  > i {
    position: absolute;
    color: green;
    right: -16px;
    font-size: 28px;
    top: -4px;
  }
  &.statusDisconnect {
    > span {
      background-color: #d9d9d9;
    }
    > i {
      color: #CCC;
    }
  }
}

@media screen and (max-width: @screen-md) {
  .sectionGoogle {
    flex-wrap: wrap;
  }
  .googleDrive {
    margin-bottom: 20px;
  }
  .statusConnect {
    top: 0;
    left: 0;
    margin-top: 20px;
  }
}
