@import '../../css/var.less';

.gradingRange {
    padding-left: @padding-lg + @padding-xs;
    margin-top: -8px;
}
.inputGrade {
    width: 60px;
}
.labelRange {
    min-width: 40px;
}
.viewMode {
    margin-bottom: 0;
}
.grade {
    width: 120px;
}
.delete {
    width: 20px;
}
