@import '../../../css/var.less';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: @padding-md;
  padding-bottom: @padding-xs;
}

.gradingTermFilter{
  min-width: 350px;
}
@media (max-width: @screen-xs-max) {
  .gradingTermFilter{
    min-width: 200px;
  }
}
