@import '../../css/var.less';

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  background: @layout-body-background;
  @media screen and (max-width: @screen-md) {
    height: auto;
  }
}

.lang {
  background-color: @layout-header-background;
  background-color: var(--layout-header-background);
  color: @layout-header-color;
  width: 100%;
  height: 54px;
  line-height: 54px;
  text-align: right;
  :global(.ant-dropdown-trigger) {
    margin-right: @padding-sm;
  }
}

.containerLogin {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  height: 100%;
  .h100 {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    .content {
      width: 80%;
      margin: auto;
      .wrapLogin {
        display: flex;
        flex-direction: row;
        box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
        position: relative;
        border-radius: @border-radius-sm;
        .branching {
          width: 40%;
          // background: url('https://images.unsplash.com/photo-1417577097439-425fb7dec05e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80') no-repeat;
          background-size: cover;
          background-color: @layout-header-background;
          background-color: var(--layout-header-background);
          padding: @padding-xl @padding-xl * 2;
          background-position: center;
          color: @text-color-inverse;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          border-top-right-radius: @border-radius-sm;
          border-bottom-right-radius: @border-radius-sm;
          .logo {
            height: 120px;
            vertical-align: top;
          }
          .title {
            position: relative;
            color: @heading-color-dark;
            font-size: @heading-1-size;
            line-height: 1.2;
            font-weight: 500;
          }
          .desc {
            color:@text-color-secondary-dark;
            font-size: @font-size-base + 1px;
          }
        }
        .login {
          width: 60%;
          margin: 0 auto;
          padding: @padding-xl @padding-xl * 2;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-right: 0;
          :global {
            .ant-card-body {
              padding: 0;
            }
          }
        }
      }
    }
    @media screen and (max-width: @screen-sm) {
      height: auto;
      .content {
        width: 320px;
        margin-top: @padding-xl;
        padding-left: 0;
        padding-right: 0;
        .wrapLogin {
          flex-direction: column-reverse;
          .branching, .login {
            width: 100%;
            padding: @padding-md;
          }
        }
      }
    }
  }
}

@media (min-width: @screen-md-min) {
  .container {
    background-image: url('https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg');
    background-repeat: no-repeat;
    background-position: center 110px;
    background-position: center;
    background-size: 100%;
  }
}



