@import '../../../css/var.less';

@pro-header-hover-bg: rgba(0, 0, 0, 0.025);

.header {
  position: relative;
  height: @layout-header-height;
  color: @layout-header-color;
  padding: 0;
}

.logo {
  display: inline-block;
  height: @layout-header-height;
  padding: 0 0 0 24px;
  font-size: 20px;
  line-height: @layout-header-height;
  vertical-align: top;
  cursor: pointer;
  img {
    display: inline-block;
    vertical-align: middle;
    max-height: 32px;
  }
}

.menu {
  :global(.anticon) {
    margin-right: 8px;
  }
  :global(.ant-dropdown-menu-item) {
    min-width: 160px;
  }
}

.trigger {
  float: left;
  height: @layout-header-height;
  padding-left: @padding-lg;
  font-size: 24px;
  color: @white;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
  &:hover {
    background: @pro-header-hover-bg;
  }
}
.search {
  float: left;
  width: 70%;
  padding-left: @padding-lg;
}

.dark {
  height: @layout-header-height;
  .action {
    color: rgba(255, 255, 255, 0.85);
    > i {
      color: rgba(255, 255, 255, 0.85);
    }
    &:hover,
    &:global(.opened) {
      background: @primary-color;
    }
    :global(.ant-badge) {
      color: rgba(255, 255, 255, 0.85);
    }
  }
}
@media only screen and (max-width: @screen-lg) {
  .logo {
    display: none;
  }
}
@media only screen and (max-width: @screen-sm) {
  .header {
    :global(.ant-divider-vertical) {
      vertical-align: unset;
    }
    .name {
      display: none;
    }
    i.trigger {
      padding: 22px 12px;
    }
    .logo {
      position: relative;
      padding-right: 12px;
      padding-left: 12px;
    }
    .search {
      width: calc(100% - (48px + 60px));
      padding-left: 12px;
    }
    .right {
      position: absolute;
      top: 0;
      right: 12px;
      .account {
        .avatar {
          margin-right: 0;
        }
      }
    }
  }
}
