@import '../../../css/var.less';

.banner {
    max-height: 400px;
    margin-bottom: 32px;
    :global {
        .ant-upload-drag-container {
            > div {
                height: 40px !important;
                line-height: 40px;
            }
        }
    }
    span[role="button"] {
        display: block !important;
        padding: 0 !important;
        > div {
            display: block !important;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit:cover;
            }
        }
    }
    @media only screen and (max-width: @screen-md) {
        height: 240px;
    }
}
.title, .description, .subTitle {
    word-wrap: break-word;
    overflow-wrap: break-word;
    h1, h2, h3, h4 {
        margin-bottom: 0;
        > input[type=text] {
            background: transparent;
        }
    }
    textarea, input {
        font-weight: 500;
        font-size: inherit;
        color: inherit;
        text-align: inherit;
        line-height: inherit;
        border: none;
        padding: 0;
        resize: none;
        &:focus {
            box-shadow: none;
        }
    }
}
.content {
    padding-top: @padding-lg;
}
.column {
    min-width: 180px;
}
.addMaterial {
    .subTitle {
        flex: 1;
    }
    :global {
        .ant-collapse-header {
            display: flex;
            align-items: center;
            .ant-collapse-extra {
                line-height: 30px;
            }
        }
        .ant-collapse > .ant-collapse-item > .ant-collapse-header {
            padding-top: @padding-xs;
            padding-bottom: @padding-xs;
        }
    }
}
.response {
    width: 160px;
    margin-right: 16px;
    > div {
        width: 100%;
    }
}
.spaceBottom {
    height: 16px;
}
.checkboxMultiple {
    padding-top: @padding-xs / 2;
}
.timeRange {
    @media only screen and (max-width: @screen-lg) {
        display: flex;
        flex-direction: column;
        > div {
            flex: 1;
            margin-right: 0;
            :global {
                .ant-calendar-picker {
                    width: 100%;
                }
            }
        }
    }
}


