@import "../../../css/var.less";

.ql-title, .ql-summary {
    .ql-container {
        font-family: @font-family;
        font-size: @font-size-base;
        .ql-editor {
            padding: 0;
            overflow: hidden;
            line-height: 1.5;
        }
    }
}

.ql-title {
    .ql-bubble {
        margin-bottom: 0;
        color: @heading-color;
        color: var(--heading-color);
        font-weight: 500;
        font-size: @heading-1-size;
        .ql-editor {
            line-height: 1.23;
            overflow-y: hidden;
        }
    }
}

.ql-summary {
    .ql-bubble {
        font-size: @heading-4-size;
        color: @text-color-secondary;
        color: var(--text-color-secondary);
    }
}

.editable {
    display: flex;
    align-items: center;
    padding: @padding-md @padding-lg;
    background: none;
    transition: all 0.3s;
    .ql-title, .ql-summary {
        flex: 1 1 24px;
    }
    .iconEdit {
        opacity: 0;
        transition: all 0.3s;
    }
    &:hover {
        background: @drag-background-hover-color;
        background: var(--drag-background-hover-color);
        transition: all 0.3s;
        .iconEdit {
            opacity: 1;
            transition: all 0.3s;
        }
    }
    &:focus, &:focus-within {
        background: none;
        .iconEdit {
            opacity: 0;
            transition: all 0.3s;
        }
    }

    &.summary {
        padding: @padding-sm @padding-lg;
    }
}
