@import "../../../css/var.less";

.sortDue {
    width: 115px;
}
.colName {
    min-width: 150px;
    width: 150px;
}
.colGrade {
    min-width: 90px;
    width: 90px;
    .letterGrade {
        width: 16px;
        text-align: left;
    }
}
[class*='act_'] {
    min-width: 135px;
    max-width: 135px;
    width: auto;
    :global {
        .ant-input-number {
            width: 60px;
        }
    }
    &:hover {
        .add5C {
            display: inline;
        }
    }
}
.add5C {
    display: none;
    position: absolute;
    right: 0;
    top: 6px;
    > i {
        font-size: @font-size-sm - 1px;
        display: inline-flex;
    }
}
.display5C {
    width: 256px;
}
.editGrade {
    .scoreStudent {
        height: 30px;
        line-height: 30px;
        font-weight: 500;
    }
    .iconEdit {
        margin-top: 10px;
        margin-left: 2px;
        font-size: 12px;
        display: none;
    }
    &:hover {
        .iconEdit {
            display: inline;
        }
    }
}

.icon5C {
    .icons {
        margin-top: 0;
        margin-bottom: 0;
        > span i {
            font-size: @font-size-base + 1px;
        }
        &:last-child {
            > span{
                margin-right: 0;
            }
        }
    }
}
.gradeBook {
    :global {
        .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
            &[class*='act_'] {
                text-align: center;
            }
        }
    }
}
.noHorizontalScroll {
    :global {
        .ant-table-fixed-left {
            > .ant-table-body-outer {
                overflow-x: auto;
                > .ant-table-body-inner {
                    overflow-x: auto;
                }
            }

        }
    }    
}
.noVerticalScroll {
    :global {
        .ant-table-scroll {
            > .ant-table-header {
                overflow-x: auto;
            }
            > .ant-table-body {
                overflow-x: auto;
            }
        }
    }    
}
