@import "../../../css/var.less";



.messageList{
    list-style-type: circle;
    margin-left: 20px;
    margin-bottom: 0;
}

.result {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: @padding-sm;
    .title, .warning {
        font-size: 14px;
        .numberStudent {
        font-size: @heading-2-size;
        font-weight: normal;
        line-height: 1;
        }
    }
    .warning {
        color: @error-color;
    }
    .filter{
        .classFilter{
        min-width: 350px;
        }
        .searchText{
            display:inline-grid;
        }
    }
    @media (max-width: @screen-xs-max) {
        flex-direction: column;
        align-items: flex-start;

        .filter{
        .classFilter{
            min-width: 200px;
        }
        }
    }
}
