@import '../../../css/var.less';

.studentView {
  display: flex;
  justify-content: space-between;
  .gradeInput {
    padding: 0 @padding-md;
    background: @grade-background-color;
    background: var(--grade-background-color);
    border: 1px solid @normal-color;
    border-radius: @border-radius-sm;
  }
}
.more {
  display: block;
  position: relative;
  width: 100%;
  height: 140px;
  overflow: hidden;
  .info {
    bottom: 0px;
    display: block;
    height: auto;
    position: absolute;
    width: 100%;
    &::before {
      background: @modal-readmore-background-color;
      background: var(--modal-readmore-background-color);
      bottom: -8px;
      content: '';
      height: 120px;
      position: absolute;
      right: 0;
      width: 100%;
    }
    span {
      position: relative;
    }
  }
}
