@import '../../../css/var.less';

.studentName {
    width: 200px;
    margin-left: 8px;
    :global {
        .ant-select {
            width: 100%;
        }
    }
}
.openGrader {
    margin: -16px;
    margin-left: 0;
    .submitLeft {
        width: calc(100% - 348px);
        padding-top: @padding-md;
        padding-right: @padding-md;
    }
    .gradeRight {
        width: 348px;
        background: @grade-background-color;
        background: var(--grade-background-color);
        border-left: 1px solid @normal-color;
        padding: @padding-md;
    }
    @media screen and (max-width: @screen-md) {
        margin: 0;
        flex-direction: column;
        .submitLeft, .gradeRight {
            width: 100%;
            padding: 0;
        }
        .gradeRight {
            border-left: 0;
            padding: @padding-xs * 2;
        }
    }
}
.skillAssessment {
    width: 180px;
    :global {
        .ant-select {
            width: 100%;
        }
    }
}
