@import '../../../css/var.less';

.result {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: @padding-sm;
  .title, .warning {
    font-size: 14px;
    .numberStudent {
      font-size: @heading-2-size;
      font-weight: normal;
      line-height: 1;
    }
  }
  .warning {
    color: @error-color;
  }
  .filter{
    .classFilter{
      min-width: 350px;
    }
  }
  @media (max-width: @screen-xs-max) {
    flex-direction: column;
    align-items: flex-start;

    .filter{
      .classFilter{
        min-width: 200px;
      }
    }
  }
}
.paddingRight {
  padding-right: @padding-xs;
}

