@import '../../../css/var.less';

.header {
  border-bottom: @border-color-base 1px solid;
  margin-top: 8px;
  margin-bottom: 24px;
}
.result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: @padding-lg;
  .title {
    font-size: @font-size-lg;
    .numberStudent {
      color: @primary-color;
      font-size: @heading-1-size;
      font-weight: normal;
      // padding-right: @padding-xs;
    }
  }
}

