@import '../../../css/var.less';

.header {
  border-bottom: @border-color-base 1px solid;
  margin-top: 8px;
  margin-bottom: 32px;
}
.profile {
  display: flex;
  align-items: center;
  > div {
    white-space: nowrap;
    margin-right: @padding-md * 3;
  }
  .avatar {
    width: @avatar-size-base * 3;
    height: @avatar-size-base * 3;
    margin-right: 16px;
  }
  @media (max-width: @screen-lg) {
    flex-direction: column;
    align-items: flex-start;
    > div {
      width: 100%;
      margin-bottom: 16px;
      &.info {
        padding-left: 112px;
      }
    }
  }
}
.classActivity {
  .widthLabel {
    display: inline-block;
    width: 160px;
  }
  .name {
    font-weight: bold;
    padding-right: @padding-xs;
  }
}
.block {
  display: block;
}
.labelError {
  padding-right: @padding-xs;
}
.grade {
  color: @text-color;
  background: none;
  transition: all 0.3s;
  > i {
    opacity: 0;
    transition: all 0.3s;
  }
  &:hover {
    color: @text-color;
    transition: all 0.3s;
    > i {
      opacity: 1;
      transition: all 0.3s;
    }
  }
  &:focus, &:focus-within {
    background: none;
    > i {
        opacity: 0;
        transition: all 0.3s;
    }
  }
}
