@import "../../../css/var.less";

@pro-header-hover-bg: rgba(0, 0, 0, 0.025);

.header {
  position: relative;
  height: @layout-header-height;
  color: @layout-header-color;
  padding: 0;
}

.trigger {
  float: left;
  height: @layout-header-height;
  padding-left: @padding-lg;
  font-size: 24px;
  color: @white;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
  &:hover {
    background: @pro-header-hover-bg;
  }
}

.search {
  float: left;
  width: 70%;
  padding-left: @padding-lg;
}

@media only screen and (max-width: @screen-sm) {
  .header {
    :global(.ant-divider-vertical) {
      vertical-align: unset;
    }
    .name {
      display: none;
    }
    i.trigger {
      padding: 22px 12px;
    }
  }
}
