@import '../../../css/var.less';

.dice {
    font-size: @heading-1-size + @font-size-base + 6px;
    padding-top: @padding-lg;
    padding-bottom: @padding-lg;
    line-height: 1.2;
    > span {
        padding: @padding-xs;
    }
}
.roll {
    margin-bottom: 0;
}
.pastRoll {
    tbody > tr {
        &:first-child {
            td {
                font-weight: bold;
            }
        }
    }
}

