@import '../../../css/var.less';

.flex {
    display: flex;
    &.generate {
        align-items: flex-end;
    }
    &.group {
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
.grey {
    color: @text-color-secondary;
    padding-right: @padding-xs;
    font-weight: 500;
}
