﻿@using Tesseract.Infrastructure.Views.Emails
@using Tesseract.Infrastructure.Views.Shared
@model NewUserSetPasswordViewModel

@{
    ViewData["EmailTitle"] = "Welcome";
    ViewData["HomeUrl"] = Model.HomeUrl;
    ViewData["DistrictLogo"] = Model.DistrictLogo;
}

<p>
    We're excited to have you get started. First, you need to set your password. Just press the button below.
</p>

<br />

@await Html.PartialAsync("EmailButton", new EmailButtonViewModel("Set password", Model.ResetPasswordUrl))

<br />

<p>
    Or copy and paste this link into your browser:
</p>
<p style="word-break:break-all; ">
    <font style="word-break:break-all; ">@Model.ResetPasswordUrl</font>
</p>

<br />
